services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.backend
    container_name: duty_backend
    env_file:
      - backend/.env
    volumes:
      - sqlite_data:/app/backend/db
    expose:
      - "8000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.frontend
    container_name: duty_frontend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  sqlite_data:
