name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          pip install uv
          make install
      - name: Run linter
        run: |
          make lint
      - name: Run test coverage
        run: |
          make test-coverage
      - name: Analyze with SonarQube
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # Generate a token on SonarQube, add it to the secrets of this repo with the name SONAR_TOKEN (Settings > Secrets > Actions > add new repository secret)
          SONAR_HOST_URL: https://sonarcloud.io   # add the URL of your instance to the secrets of this repo with the name SONAR_HOST_URL (Settings > Secrets > Actions > add new repository secret)
#        with:
#          args: >
#            -Dsonar.projectKey=Imabirdmf_duty_planner
#            -Dsonar.organization=imabirdmf
#            -Dsonar.python.coverage.reportPaths=coverage.xml
#            -Dsonar.coverage.exclusions=**/__init__.py,backend/planner/migrations/*,backend/planner/management/*,backend/db/*,backend/core/*
#            -Dsonar.tests=backend/tests